<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Link</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Profile</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
    
</header>
  <!--Main Layout-->
  <main class="text-center py-5">

    <div class="container">
        <div class="inputs">
        
            <input type="text" name="search" id="search" placeholder="Search for users or repositories...." #search required>
            <button class="btn btn-primary btn-sm" (click)="userSearch(search)" [routerLink]="['/users']"  > Search User</button>
            <button class="btn btn-success btn-sm" (click)="repoSearch(search)" [routerLink]="['/repositories']" >Search Repositories</button>
        </div>
    </div>

  </main>
  <!--Main Layout-->
