
<div class="container-fluid">
    <div class="card " *ngFor="let r of repo.results;let i=index">
        
        <div class="card-body">
            <a href="{{r.html_url}}" target="_blank"><h4 class="card-title">{{r.name}}</h4></a>
            <hr>
            <p class="card-text">Description : {{r.description}}</p>
            <p class="card-text">Owner : {{r.owner.login}}</p>
            <p class="card-text">Language : {{r.language}}</p>
            <p class="card-text"> Stars : {{r.stargazers_count}}</p>
        </div>
    </div>
    
       
   </div>