@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

.container-fluid{
    display: inline-block;
    padding-top: 50px;
}

.side{
    width: 10%;
    float: left;
    font-family: 'Metal Mania', cursive;
    padding-top: 20px;
    margin-top: 75px;
    position: -webkit-fixed;
    position: fixed;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.name h5{
    margin-bottom: 30px;
    
}

.repos{
    width: 90%;
    float: right;
    padding-top: 20px;
    font-family: 'Metal Mania';
}

$primary-color: #00bcd4;
$secondary-color: aquamarine;

img{
    width:90%;
    border-radius: 50%;
}
a{
    color: slateblue
}
hr{
    background-color: gold;
}

.card{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    border: lawngreen 1px ridge;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 25%;
}

.repositories{
    display: flex;
    flex-wrap: wrap;
}
.socials{
    display: grid;
    align-items: center;
}

.socials a{
    margin:10px;
}
button{
    background: transparent;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    border: $primary-color 1px solid;
}

.card a{
    text-align: center;
    justify-content: center;
}