@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');



img{
    width: 100%;
    border-radius: 50%;
}
$primary-color: #00bcd4;
$secondary-color: aquamarine;

.container-fluid{
    padding-top: 0px;
    font-family: 'Metal Mania', cursive;
    color: $primary-color;
    display: inline-block;
}

a{
    color: $secondary-color;
}
.about {
    font-family: Roboto, sans-serif;
    color: whitesmoke;
    padding: 4em;
}

.row{
    margin: auto;
    width: 60%;
    align-items: center; 
       
}

.main{
    width: 95%;
    float: right;
    font-family: 'Metal Mania', cursive;
    background: url("../../assets/images/bg-img.jpg")no-repeat center center;
    background-size: cover;
    height: 81vh;
    
}

.socials{
    display: grid;
    width: 5%;
    float: left;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}

.socials a{
    margin-top: 50px;
    margin-bottom: 50px;
}